.cd-cartdetails {

    margin: 30px 0px;

    &__outer {
        width: 100%;
        display: flex;
    }

    &__left {
        width: 50%;

        img {
            width: 80%;
            height: auto;
        }
    }

    &__right {
        width: 50%;
    }

    &__pdtname {
        font-size: 36px;
        line-height: 32px;
        font-weight: 600;
        color:  #4B0983;
        margin-bottom: 12px;
        width: 75%;
    }

    &__pdtdesc {
        font-size: 16px;
        line-height: 32px;
        color: #4B0983;
        text-decoration: underline;
        margin-bottom: 8px;

        &:hover {
            color: #4B0983;
            text-decoration: underline;
        }
    }

    .cd-tglbutton {
        font-size: 12px;
    }

    &__pricedts {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    &__price {
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
        color: #4B0983;
    }

    &__vatdts {
        display: flex;
        align-items: center;
    }

    &__vattxt {
        font-size: 14px;
        font-weight: 400;
        color: #4B0983;
        margin-right: 8px;
    } 

    &__qntity {
        display: flex;
        margin-bottom: 15px;

        .minus_icon , .plus_icon{
            background-color: #E4DAEC;
            border-radius: 4px;
            border-color: #E4DAEC;
            font-size: 22px;
            font-weight: 600;
            width: 30px;
            color: #ffffff;
            padding: 0px;
            display: flex;
            justify-content: center;
        }
    }

    .cd-btn {
        margin-bottom: 15px;
    }

    .cd-starbtn {
        margin-bottom: 12px;
    }

    &__qntitybox {
        border: 1px solid #4B0983;
        padding: 4px 30px;
        margin: 0px 8px;
        border-radius: 3px;
    }

    &__paymentdesc {
        display: flex;
        align-items: center;
    }

    &__payapp {
        width: 20%;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__paydesc {
        font-size: 16px;
        color: #4B0983;
        margin-left: 15spx;
        width: 65%;

        a {
            text-decoration: underline;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__delivrydts {
        text-align: center;
        border: 1px solid #E4DAEC;
        background-color: #E4DAEC;
        border-radius: 12px;
        padding: 30px 60px;
        margin: 20px 0px 15px 0px;
    }

    &__delivrydesca {
        color: #4B0983;
        font-size: 16px;
       
        span {
            font-weight: 600;
        }
    }

    &__delivrydescb {
        color: #4B0983;
        font-size: 16px;

        span {
            color: #D61949;
            font-weight: 600;
        }
    }

    &__persnlmsg {
        display: flex;
        align-items: center;

        img {
            width: 18%;
        }
    }

    &__checkoutmsg {
        font-size: 16px;
        color: #4B0983;
        margin-left: 15px;
    }

    &__rewards {
        display: flex;
        align-items: center;

        img {
            width: 18%;
        }
    }

    &__rwrddesca {
        font-size: 16px;
        color: #4B0983;
        margin-left: 15px;
        width: 85%;
        span {
            font-weight: 600;
        }
    }

    &__rwrddescb {
        font-size: 16px;
        color: #4B0983;
        text-decoration: underline;
        margin-left: 15px;
        &:hover {
            color: #4B0983;
            text-decoration: underline;
        }
    }
}


@include tablet-pro {

    .cd-cartdetails {
        &__pdtname {
            font-size: 32px;
        }
    }
}

@include tablet {
    .cd-cartdetails {
        &__pdtname {
            font-size: 28px;
        }
    }
}

@include mobile {
    .cd-cartdetails {

        &__outer {
            flex-direction: column;
        }

        &__left {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

        &__right {
            width: 100%;
        }

        &__pdtname {
            font-size: 28px;
        }
    }
}