.cg-checkout {
   margin: 60px 0;
   &__headerout {
      background-color: #4B0983;
   }
   &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0px;
   }
   &__head {
      color: #4B0983;
      font-size: 36px;
      font-weight: 700;
      letter-spacing: 2px;
      text-align: center;
      margin-bottom: 40px;
   }
   &__subhead {
      color: #4B0983;
      font-size: 28px;
      font-weight: 700;
      letter-spacing: 1px;
      text-align: center;
      margin-bottom: 16px;
   }
   &__logo {
      width: 20%;
      img {
        width: 100%;
      }
   }
   &__lockimg {
      width: 30px;
      img {
         width: 100%;
      }
   }
   &__line {
      width: 100%;
      border-top: 1px solid #4B0983;
   }
   &__formwrap {
      display: flex;
      justify-content: space-between;
   }
   &__form {
      display: flex;
      flex-direction: column;
      label {
         font-size: 14px;
         font-weight: bold;
         margin: 20px 0 10px;
      }
      input {
         border-radius: 5px;
         height: 40px;
         border: 2px solid #4B0983;
      }
   }
   &__formsec {
      width: 45%;
      padding: 32px;
      border: 2px solid #4B0983;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
   &__top {
      background-color: #4B0983;
      text-align: right;
      img{
         width: 15%;
         transform: translate(-150px, 30px);
       }
   }
   &__remindtxt {
      margin: 20px 0;
      font-weight: 500;
      font-size: 14px;
   }
   &__txtcenter {
      text-align: center;
   }
   &__button {
      background-color: #fff;
      color: #4B0983;
      border: 2px solid #4B0983;
      width: 100%;
      padding: 10px;
      border-radius: 30px;
      font-size: 16px;
      font-weight: 700;
      margin-top: 16px;
      &:hover {
         background-color: #4B0983;
         color: #fff;
         transition: 0.3s ease-in-out;
      }
   }
   &__robot {
      margin-bottom: 20px;
   }
   &__forgot {
      color: #4B0983;
      font-weight: 500;
      text-align: center;
      text-decoration: underline;
      margin: 16px 0;
   }
   &__helptxt {
      h2 {
         color: #4B0983;
         font-weight: 700;
         margin-bottom: 16px;
      }
      a {
         text-decoration: underline;
         color: #4B0983;
         font-weight: 500;
      }
   }
   &__footer {
      text-align: center;
      margin-top: 20px;
   }
   &__ftouter {
      padding: 40px 0px;
   }
   &__footerwrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__footerout {
      padding: 30px 0px;
      text-align: right;
   }
}

@include mobile {
   .cg-checkout {
      &__logo {
         width: 50%;
      }
      &__formwrap {
         flex-direction: column;
      }
      &__footerwrap {
         flex-direction: column;
         align-items: flex-start;
      }
      &__formsec {
         width: 100%;
         margin-bottom: 20px;
      }
      &__ftouter { 
         padding: 24px 0px;
      }
      &__helptxt {
         margin: 20px;
      }
      &__footerout {
         margin-right: 10px;
         text-align: center;
      }
      &__top {
         img{
            width: 32%;
            transform: translate(-40px, 20px);
          }
      }
      &__helptxt {
         margin: 16px;
      }
   }
}