.cd-rewardstile {
    margin: 90px 0px;

    &__wrap {
        display: flex;
        justify-content: flex-start;
        margin-left: 13%;
    }

    &__container {
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
        width: 35%;
        height: 400px;
        border-radius: 15px;
        margin: 0 24px;

        &--upward {
           margin-top: 50px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        padding-bottom: 25px;
    }  

    &__text {
        font-size: 28px;
        font-weight: 700;
        color: #ffffff;
        text-align: center;
        width: 80%;
        padding: 10px 0px;
    }

    &__minitext {
        font-size: 14px;
        font-weight: 300;
        color: #ffffff;
        text-align: center;
        padding-bottom: 10px;
    }

    .rwrdtile-btn {
        width: 40%;
        margin-top: 5px;
    }
}

@include tablet-pro {

    .cd-rewardstile {

        &__container {
            width: 40%;
        }

        &__text {
            font-size: 26px;
        }

        .rwrdtile-btn {
            width: 45%;
            font-size: 14px;
        }
    }
}

@include tablet {

    .cd-rewardstile {

        &__container {
            width: 45%;
        }

        &__text {
            font-size: 22px;
        }

        .rwrdtile-btn {
            width: 45%;
            font-size: 14px;
        }
    }
}

@include mobile {

    .cd-rewardstile {
        margin: 30px 0px;
        &__wrap {
            flex-direction: column;
        }

        &__container {
            width: 100%;
            margin: 15px 0px;
            &--upward {
                transform: unset;
            }
        }

        &__text {
            font-size: 22px;
        }

        .rwrdtile-btn {
            font-size: 14px;
        }
    }
}