
body {
    overflow-x: hidden;
 }
 .cg-slider .slick-track {
    margin-left: 15%;
}

.cg-slider .cd-title__leftimage {
    left: 15%;
 }

 .cd-title__middleimage {
    position: absolute;
    left: 67%;
    top: -53%;
 }

 .cd-insp {
    .cd-insp__left {
        padding-left: 30px;
        justify-content: flex-start;
    }
    &.cd-insp--rev {
        .cd-insp__left {
            justify-content: flex-end;
        }
    }
 }

 .cd-banner__tile-inner {
    padding: 32px 0;
 }

 .cg-mobNav {
    display: block;
}

@media only screen and (max-width: 1024px) {
    .header.content .minisearch, .header.content .minicart__wrapper {
        -webkit-box-flex: 0 0 11%;
        -moz-box-flex: 0 0 11%;
        -webkit-flex: 0 0 11%;
        -ms-flex: 0 0 11%;
        flex: 0 0 11%;
    }
}

@media only screen and (max-width: 1024px) {
    .minisearch .header-dropdown__block:not([aria-hidden=false]) {
        display: none;
    }
}

//  @media only screen and (min-device-width: 1025px) {
//     .cg-mobNav{
//         display:none;
//     }
// }

// tablet pro 
@media (min-width: 1024px) and (max-width: 1199px) {
    .cg-mobNav {
        display: block;
    }
  }

//  tablet 
@media (min-width: 768px) and (max-width: 1023px) {
    .cd-insp--rev .cd-insp__cnt {
        width: 90%;
    }
}

// mobile-tablet 
@media (max-width: 1023px) {
    .cg-slider .slick-track {
        margin-left: 0;
    }
    
    .cg-slider .cd-title__leftimage {
        left: 0;
     }
     .cd-insp {
        .cd-insp__left {
            padding-left: 0;
        }
     }
  }

//   mobile 
@media (max-width: 767px) {
    .cd-title__middleimage {
        left: 69%;
        top: -19%;
     }
  }
